<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pillbuddy">
    <uses-permission
        android:name="android.permission.INTERNET />">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".PillBuddy"

        android:theme="@style/Theme.PillBuddy">
        <activity android:name=".AddBuddyPage"/>
        <activity android:name=".AccountSettings" />
        <activity
            android:name=".MedicationListPage"
            android:label="@string/title_activity_medication_list_page"
            android:theme="@style/Theme.PillBuddy.NoActionBar" />
        <activity android:name=".CalendarPage" />
        <activity android:name=".ConfirmNotificationPage" />
        <activity android:name=".CreateNotificationPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".SignInPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestPage"/>
    </application>

</manifest>